@model IEnumerable<EcommerceShop.Models.Addpolicytype>



<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Policy List</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-responsive-sm">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.policy_name)
                            </th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                   
                        @if (Model != null && Model.Any())
                        {
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.policy_name)
                                    </td>
                                    <td>
                                        <a asp-action="PolicyEdit" asp-route-id="@item.id" class="btn btn-warning btn-sm">Edit</a> |
                                        <a asp-action="PolicyDetete" asp-route-id="@item.id" class="btn btn-danger btn-sm">Delete</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
