<!-- Main Slider Section -->
<section class="main-slider">
    <div class="auto-container">
        <div class="main-slider-carousel owl-carousel owl-theme">
            <!-- Slide 01 -->
            <div class="slide" style="
                background-image: url('https://themeim.com/demo/carsore/images/background/home-2-header-bg.png');
              ">
                <div class="row clearfix">
                    <!-- Content Column -->
                    <div class="content-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <div class="title">
                                Reliable. Personable. Fast.
                            </div>
                            <h2>
                              About Us
                            </h2>
                            <br/>
                            <div class="text">
                                Only Carsore company gives you an investment with your Care insurance policy at <br> no extra cost.
                                Only Carsore company gives you an investment with<br>
                                your Care insurance policy at no extra cost.
                            </div>
                         
                            <div class="btns-box clearfix">
                                <a class="btn-style-one theme-btn contact-us" href="contact.html">
                                    <span class="txt">
                                        Contact us
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                                            <circle data-name="Ellipse 236" cx="10" cy="10" r="10" fill="#f4f9fe" />
                                            <g data-name="Group 3845" transform="translate(7 5)">
                                                <g data-name="right-arrow(6)">
                                                    <g data-name="Group 662">
                                                        <path data-name="Path 1728"
                                                              d="M107.315,4.708,102.77.163a.56.56,0,0,0-.79,0L101.645.5a.559.559,0,0,0,0,.79L105.462,5.1l-3.821,3.821a.56.56,0,0,0,0,.79l.335.335a.56.56,0,0,0,.79,0L107.315,5.5a.564.564,0,0,0,0-.793Z"
                                                              transform="translate(-101.478 0)" fill="#4298ee" />
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </span>
                                </a>
                                <a class="btn-style-one theme-btn find-agent" href="contact.html">
                                    <span class="txt">
                                        Find An Agent
                                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19">
                                            <path id="Path_10543" data-name="Path 10543"
                                                  d="M9.5,0A9.5,9.5,0,1,0,19,9.5,9.5,9.5,0,0,0,9.5,0Zm4.889,15.1a7.43,7.43,0,0,1-9.777,0,.678.678,0,0,1-.217-.646A6.017,6.017,0,0,1,8.17,9.771,3.58,3.58,0,0,1,6.54,6.664,3.25,3.25,0,0,1,9.5,3.187a3.25,3.25,0,0,1,2.96,3.477,3.58,3.58,0,0,1-1.63,3.106,6.017,6.017,0,0,1,3.776,4.679A.678.678,0,0,1,14.389,15.1Z"
                                                  fill="#fff" />
                                        </svg>
                                    </span>
                                </a>
                            </div>
                            <div class="rating-container">
                                <div class="rating-icon-container">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15.035" height="14.366"
                                         viewBox="0 0 15.035 14.366">
                                        <path d="M15,12.774a.683.683,0,0,0-.552-.465l-4.366-.634L8.132,7.717a.683.683,0,0,0-1.226,0L4.953,11.674l-4.367.634a.684.684,0,0,0-.379,1.166l3.16,3.08L2.621,20.9a.684.684,0,0,0,.992.721L7.519,19.57l3.906,2.053a.692.692,0,0,0,.32.079.684.684,0,0,0,.665-.836l-.74-4.312,3.16-3.08A.683.683,0,0,0,15,12.774Z"
                                              transform="translate(-0.002 -7.336)" fill="#ffb300" />
                                    </svg>

                                    <svg xmlns="http://www.w3.org/2000/svg" width="15.035" height="14.366"
                                         viewBox="0 0 15.035 14.366">
                                        <path d="M15,12.774a.683.683,0,0,0-.552-.465l-4.366-.634L8.132,7.717a.683.683,0,0,0-1.226,0L4.953,11.674l-4.367.634a.684.684,0,0,0-.379,1.166l3.16,3.08L2.621,20.9a.684.684,0,0,0,.992.721L7.519,19.57l3.906,2.053a.692.692,0,0,0,.32.079.684.684,0,0,0,.665-.836l-.74-4.312,3.16-3.08A.683.683,0,0,0,15,12.774Z"
                                              transform="translate(-0.002 -7.336)" fill="#ffb300" />
                                    </svg>

                                    <svg xmlns="http://www.w3.org/2000/svg" width="15.035" height="14.366"
                                         viewBox="0 0 15.035 14.366">
                                        <path d="M15,12.774a.683.683,0,0,0-.552-.465l-4.366-.634L8.132,7.717a.683.683,0,0,0-1.226,0L4.953,11.674l-4.367.634a.684.684,0,0,0-.379,1.166l3.16,3.08L2.621,20.9a.684.684,0,0,0,.992.721L7.519,19.57l3.906,2.053a.692.692,0,0,0,.32.079.684.684,0,0,0,.665-.836l-.74-4.312,3.16-3.08A.683.683,0,0,0,15,12.774Z"
                                              transform="translate(-0.002 -7.336)" fill="#ffb300" />
                                    </svg>

                                    <svg xmlns="http://www.w3.org/2000/svg" width="15.035" height="14.366"
                                         viewBox="0 0 15.035 14.366">
                                        <path d="M15,12.774a.683.683,0,0,0-.552-.465l-4.366-.634L8.132,7.717a.683.683,0,0,0-1.226,0L4.953,11.674l-4.367.634a.684.684,0,0,0-.379,1.166l3.16,3.08L2.621,20.9a.684.684,0,0,0,.992.721L7.519,19.57l3.906,2.053a.692.692,0,0,0,.32.079.684.684,0,0,0,.665-.836l-.74-4.312,3.16-3.08A.683.683,0,0,0,15,12.774Z"
                                              transform="translate(-0.002 -7.336)" fill="#ffb300" />
                                    </svg>

                                    <svg xmlns="http://www.w3.org/2000/svg" width="15.035" height="14.366"
                                         viewBox="0 0 15.035 14.366">
                                        <path d="M15,12.774a.683.683,0,0,0-.552-.465l-4.366-.634L8.132,7.717a.683.683,0,0,0-1.226,0L4.953,11.674l-4.367.634a.684.684,0,0,0-.379,1.166l3.16,3.08L2.621,20.9a.684.684,0,0,0,.992.721L7.519,19.57l3.906,2.053a.692.692,0,0,0,.32.079.684.684,0,0,0,.665-.836l-.74-4.312,3.16-3.08A.683.683,0,0,0,15,12.774Z"
                                              transform="translate(-0.002 -7.336)" fill="#3D3D3D" />
                                    </svg>
                                </div>

                                <div class="rating-text-container">
                                    <p>Carsore rated <span>4.8/5</span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Image Column -->
                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                        <!-- <div
                            class="pattern-layer-five"
                            style="
                              background-image: url(https://themeim.com/demo/carsore/images/main-slider/pattern-5.png);
                            "
                          ></div> -->
                        <div class="inner-column">
                            <div class="image">
                                <div class="inner-container" style="width: 817px; height: 411px"></div>
                                <!-- <img
                                    src="https://themeim.com/demo/carsore/images/main-slider/content-image.png"
                                    alt=""
                                    width="817px"
                                    height="411px"
                                  /> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Slide 01 -->
       
        </div>
    </div>
</section>
<!-- End Main Slider Section -->



<!-- About Section -->
<section class="about-section style-two">
    <div class="auto-container">
        <div class="inner-container">
            <div class="section-icons-outer parallax-scene-2">
                <div data-depth="0.20" class="icon-layer-one" style="background-image: url(~/images/icons/icon-1.png)"></div>
                <div data-depth="0.20" class="icon-layer-two"
                     style="background-image: url(~/images/background/pattern-4.png)"></div>
            </div>
            <div class="row clearfix">
                <!-- Image Column -->
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="image titlt" data-tilt data-tilt-max="2">
                            <img src="~/images/resource/about.jpg" alt="" />
                            <span class="triangle-one"></span>
                            <span class="triangle-two"></span>
                        </div>
                    </div>
                </div>
                <!-- Content Column -->
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="sec-title">
                            <div class="title">about us</div>
                            <h2>Car insurance rate reductions up to 25%</h2>
                        </div>
                        <div class="bold-text">
                            We are a professional and creative company and we offer you
                            a trusty insurance on your veicle.
                        </div>
                        <div class="text">
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the industry's
                            standard dummy text ever since the 1500s, when ang dummy
                            text lorem.
                        </div>
                        <div class="author-box clearfix">
                            <div class="box-inner">
                                <div class="author-image">
                                    <img src="~/images/resource/author-1.jpg" alt="" />
                                </div>
                                Luiz Mark
                                <span>ceo of carsore</span>
                            </div>
                            <div class="signature">
                                <img src="~/images/icons/signature-1.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->
<!-- Awards Section -->
<section class="awards-section">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title light centered">
            <div class="title">We Achived</div>
            <h2>Awards & Recognition</h2>
        </div>
        <!-- End Sec Title -->
        <div class="inner-container">
            <div class="section-icons-outer parallax-scene-3">
                <div data-depth="0.20" class="icon-layer" style="background-image: url(~/images/icons/icon-1.png)"></div>
                <div data-depth="0.20" class="pattern-layer" style="background-image: url(~/images/background/pattern-3.png)">
                </div>
            </div>
            <div class="row clearfix">
                <!-- blocks Column -->
                <div class="blocks-column col-lg-6 cl-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="row clearfix">
                            <!-- Award Block -->
                            <div class="award-block col-lg-6 col-md-6 col-sm-12">
                                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                                    <div class="color-layer"></div>
                                    <div class="icon flaticon-graduated-1"></div>
                                    <h5><a href="services-detail.html">Best Company</a></h5>
                                    <div class="text">
                                        Lorem Ipsum is simply dummy text of the printing.
                                    </div>
                                </div>
                            </div>

                            <!-- Award Block -->
                            <div class="award-block col-lg-6 col-md-6 col-sm-12">
                                <div class="inner-box wow fadeInLeft" data-wow-delay="250ms" data-wow-duration="1500ms">
                                    <div class="color-layer"></div>
                                    <div class="icon flaticon-bar-chart-1"></div>
                                    <h5>
                                        <a href="services-detail.html">Growing Business</a>
                                    </h5>
                                    <div class="text">
                                        Lorem Ipsum is simply dummy text of the printing.
                                    </div>
                                </div>
                            </div>

                            <!-- Award Block -->
                            <div class="award-block col-lg-6 col-md-6 col-sm-12">
                                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                                    <div class="color-layer"></div>
                                    <div class="icon flaticon-charity"></div>
                                    <h5>
                                        <a href="services-detail.html">Great Support</a>
                                    </h5>
                                    <div class="text">
                                        Lorem Ipsum is simply dummy text of the printing.
                                    </div>
                                </div>
                            </div>

                            <!-- Award Block -->
                            <div class="award-block col-lg-6 col-md-6 col-sm-12">
                                <div class="inner-box wow fadeInLeft" data-wow-delay="250ms" data-wow-duration="1500ms">
                                    <div class="color-layer"></div>
                                    <div class="icon flaticon-trophy-1"></div>
                                    <h5>
                                        <a href="services-detail.html">Excellent Service</a>
                                    </h5>
                                    <div class="text">
                                        Lorem Ipsum is simply dummy text of the printing.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <br />

                <!-- Image Column -->
                <div class="image-column col-lg-6 cl-md-12 col-sm-12">
                    <div class="inner-column wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="image">
                            <span class="triangle-one"></span>
                            <span class="triangle-two"></span>
                            <img src="~/images/images.jpeg" width="600px" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Awards Section -->
<!-- Team Section -->
<section class="team-section">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title centered">
            
            <h2>
                .............
            </h2>
        </div>
        <!-- End Sec Title -->
        
    </div>

</section>
<!-- End Team Section -->
<!-- Choose Section -->
<section class="choose-section">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title light centered">
            <div class="title">why us</div>
            <h2>Why Chose Us</h2>
        </div>
        <!-- End Sec Title -->
        <div class="inner-container">
            <div class="section-icons-outer parallax-scene-5">
                <div data-depth="0.20" class="icon-layer" style="background-image: url(~/images/icons/icon-1.png)"></div>
                <div data-depth="0.20" class="pattern-layer" style="background-image: url(~/images/background/pattern-3.png)">
                </div>
                <div data-depth="0.20" class="pattern-layer-two"
                     style="background-image: url(~/images/background/pattern-4.png)"></div>
            </div>
            <div class="row clearfix">
                <!-- Image Column -->
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="image titlt" data-tilt data-tilt-max="2">
                            <img src="~/images/istockphoto-1264403893-612x612.jpg" alt="" />
                            <span class="triangle-one"></span>
                            <span class="triangle-two"></span>
                            <!-- Fact Counter -->
                            <div class="fact-counter">
                                <div class="row clearfix">
                                    <!-- Column -->
                                    <div class="
                            column
                            counter-column
                            col-lg-4 col-md-4 col-sm-4
                          ">
                                        <div class="inner">
                                            <div class="content">
                                                <div class="count-outer count-box">
                                                    <span class="count-text" data-speed="3000" data-stop="100">0</span>%
                                                </div>
                                                <div class="counter-title">
                                                    Customer <br />
                                                    satisfaction
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Column-->
                                    <div class="
                            column
                            counter-column
                            col-lg-4 col-md-4 col-sm-4
                          ">
                                        <div class="inner">
                                            <div class="content">
                                                <div class="count-outer count-box">
                                                    <span class="count-text" data-speed="4000" data-stop="200">0</span>+
                                                </div>
                                                <div class="counter-title">
                                                    Monthly active <br />
                                                    users
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Column-->
                                    <div class="
                            column
                            counter-column
                            col-lg-4 col-md-4 col-sm-4
                          ">
                                        <div class="inner">
                                            <div class="content">
                                                <div class="count-outer count-box">
                                                    <span class="count-text" data-speed="3000" data-stop="100">0</span>+
                                                </div>
                                                <div class="counter-title">
                                                    New Customer <br />
                                                    per week
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Content Column -->
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="text">
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the simply dummy
                            text of industry's standard dummy, lorem ipsum dolor.
                        </div>
                        <div class="list-outer">
                            <ul class="choose-list">
                                <li>
                                    <span class="number">1</span>
                                    <strong>Compare personalized quotes</strong>
                                    Answer a couple of questions, we'll provide accurate
                                    live
                                </li>
                                <li>
                                    <span class="number">2</span>
                                    <strong>Get all discounts in one place</strong>
                                    Answer a couple of questions, we'll provide accurate
                                    live
                                </li>
                                <li>
                                    <span class="number">3</span>
                                    <strong>Buy online or on the phone</strong>
                                    Answer a couple of questions, we'll provide accurate
                                    live
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Choose Section -->
<!-- Skill Section -->
<section class="skill-section">
    <div class="auto-container">
        <div class="inner-container">
            <div class="section-icons-outer parallax-scene-6">
                <div data-depth="0.30" class="pattern-layer" style="background-image: url(~/images/background/pattern-4.png)">
                </div>
            </div>
            <div class="row clearfix">
                <!-- Skill Column -->
                <div class="skill-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="parallax-scene-7">
                            <div data-depth="0.80" class="icon-layer" style="background-image: url(~/images/icons/icon-1.png)">
                            </div>
                        </div>
                        <!-- Sec Title -->
                        <div class="sec-title">
                            <h2>
                                The operational <br />
                                processes of Carsore
                            </h2>
                            <div class="text">
                                We are a professional and creative company and we offer
                                you a trusty insurance on your veicle.
                            </div>
                        </div>

                        <!-- Skills -->
                        <div class="skills">
                            <!-- Skill Item -->
                            <div class="skill-item">
                                <div class="skill-header clearfix">
                                    <div class="skill-title">Strategy Consulting</div>
                                    <div class="skill-percentage">
                                        <div class="count-box">
                                            <span class="count-text" data-speed="2000" data-stop="90">0</span>%
                                        </div>
                                    </div>
                                </div>
                                <div class="skill-bar">
                                    <div class="bar-inner">
                                        <div class="bar progress-line" data-width="90"></div>
                                    </div>
                                </div>
                            </div>

                            <!-- Skill Item -->
                            <div class="skill-item">
                                <div class="skill-header clearfix">
                                    <div class="skill-title">Market value</div>
                                    <div class="skill-percentage">
                                        <div class="count-box">
                                            <span class="count-text" data-speed="2000" data-stop="80">0</span>%
                                        </div>
                                    </div>
                                </div>
                                <div class="skill-bar">
                                    <div class="bar-inner">
                                        <div class="bar progress-line" data-width="80"></div>
                                    </div>
                                </div>
                            </div>

                            <!-- Skill Item -->
                            <div class="skill-item">
                                <div class="skill-header clearfix">
                                    <div class="skill-title">Marketing</div>
                                    <div class="skill-percentage">
                                        <div class="count-box">
                                            <span class="count-text" data-speed="2000" data-stop="70">0</span>%
                                        </div>
                                    </div>
                                </div>
                                <div class="skill-bar">
                                    <div class="bar-inner">
                                        <div class="bar progress-line" data-width="70"></div>
                                    </div>
                                </div>
                            </div>

                            <!-- Skill Item -->
                            <div class="skill-item">
                                <div class="skill-header clearfix">
                                    <div class="skill-title">Relations</div>
                                    <div class="skill-percentage">
                                        <div class="count-box">
                                            <span class="count-text" data-speed="2000" data-stop="60">0</span>%
                                        </div>
                                    </div>
                                </div>
                                <div class="skill-bar">
                                    <div class="bar-inner">
                                        <div class="bar progress-line" data-width="60"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Image Column -->
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="image">
                            <div class="triangle-one"></div>
                            <div class="triangle-two"></div>
                            <img src="https://themeim.com/demo/carsore/images/gallery/home-2-about-us-3.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Skill Section -->
<!-- Insurance Section -->
<section class="insurance-section">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title light centered">
            <h2>How Car Insurance Works?</h2>
            <div class="text">
                We are a professional and creative company and we <br />
                offer you a trusty on your veicle.
            </div>
        </div>
        <!-- End Sec Title -->
        <div class="inner-container">
            <div class="section-icons-outer parallax-scene-8">
                <div data-depth="0.20" class="icon-layer" style="background-image: url(~/images/icons/icon-1.png)"></div>
                <div data-depth="0.40" class="pattern-layer" style="background-image: url(~/images/background/pattern-3.png)">
                </div>
                <div data-depth="0.20" class="pattern-layer-two"
                     style="background-image: url(~/images/background/pattern-4.png)"></div>
            </div>
            <div class="row clearfix">
                <!-- Insurance Block -->
                <div class="insurance-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-car-1"></span>
                        </div>
                        <h5>
                            <a href="insurance-form.html">Enter your Car Numbere</a>
                        </h5>
                        <div class="text">
                            Lorem Ipsum is simply dummy text of the printing and
                        </div>
                    </div>
                </div>

                <!-- Insurance Block -->
                <div class="insurance-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="150ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-customer-support"></span>
                        </div>
                        <h5>
                            <a href="insurance-form.html">Answer few Questions</a>
                        </h5>
                        <div class="text">
                            Lorem Ipsum is simply dummy text of the printing and
                        </div>
                    </div>
                </div>

                <!-- Insurance Block -->
                <div class="insurance-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-clipboard-1"></span>
                        </div>
                        <h5>
                            <a href="insurance-form.html">Plans & Prices Tailor</a>
                        </h5>
                        <div class="text">
                            Lorem Ipsum is simply dummy text of the printing and
                        </div>
                    </div>
                </div>

                <!-- Insurance Block -->
                <div class="insurance-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="450ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon flaticon-tags"></span>
                        </div>
                        <h5><a href="insurance-form.html">Make payment</a></h5>
                        <div class="text">
                            Lorem Ipsum is simply dummy text of the printing and
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Insurance Section -->
<!-- Testimonial Section -->
<section class="testimonial-section">
    <div class="auto-container">
        <div class="inner-container">
            <div class="section-icons-outer parallax-scene-9">
                <div data-depth="0.20" class="icon-layer" style="background-image: url(~/images/icons/icon-1.png)"></div>
                <div data-depth="0.30" class="pattern-layer" style="background-image: url(~/images/background/pattern-3.png)">
                </div>
            </div>
            <div class="row clearfix">
                <!-- Image Column -->
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="image titlt" data-tilt data-tilt-max="2">
                            <img src="https://themeim.com/demo/carsore/images/background/box-item-bg.png" alt="" />
                            <span class="triangle-one"></span>
                            <span class="triangle-two"></span>
                        </div>
                    </div>
                </div>

                <!-- Carousel Column -->
                <div class="carousel-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <!-- Sec Title -->
                        <div class="sec-title">
                            <div class="title">feedback</div>
                            <h2>
                                What Clients Says <br />
                                About us?
                            </h2>
                        </div>
                        <div class="single-item-carousel owl-carousel owl-theme">
                            <!-- Testimonial Block -->
                            <div class="testimonial-block">
                                <div class="inner-box">
                                    <div class="quote-icon">
                                        <img src="https://themeim.com/demo/carsore/images/resource/author-2.jpg" alt="" />
                                    </div>
                                    <div class="text">
                                        Lorem Ipsum is simply dummy text of the printing and
                                        typesetting industry. Lorem Ipsum has been the
                                        industry's standard dummy text ever since the 1500s,
                                        when an unknown printer took a galley of type and
                                        scrambled it to make a type specimen.
                                    </div>
                                    <div class="author-box">
                                        <div class="box-inner">
                                            <div class="author-image">
                                                <img src="~/images/resource/author-2.jpg" alt="" />
                                            </div>
                                            Luiz Jenifer<br />
                                            <div class="designation">Client</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Testimonial Block -->
                            <div class="testimonial-block">
                                <div class="inner-box">
                                    <div class="quote-icon">
                                        <img src="~/images/icons/quote-icon.png" alt="" />
                                    </div>
                                    <div class="text">
                                        Lorem Ipsum is simply dummy text of the printing and
                                        typesetting industry. Lorem Ipsum has been the
                                        industry's standard dummy text ever since the 1500s,
                                        when an unknown printer took a galley of type and
                                        scrambled it to make a type specimen.
                                    </div>
                                    <div class="author-box">
                                        <div class="box-inner">
                                            <div class="author-image">
                                                <img src="https://themeim.com/demo/carsore/images/resource/author-3.jpg" alt="" />
                                            </div>
                                            Luiz Jenifer<br />
                                            <div class="designation">Client</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Testimonial Block -->
                            <div class="testimonial-block">
                                <div class="inner-box">
                                    <div class="quote-icon">
                                        <img src="~/images/icons/quote-icon.png" alt="" />
                                    </div>
                                    <div class="text">
                                        Lorem Ipsum is simply dummy text of the printing and
                                        typesetting industry. Lorem Ipsum has been the
                                        industry's standard dummy text ever since the 1500s,
                                        when an unknown printer took a galley of type and
                                        scrambled it to make a type specimen.
                                    </div>
                                    <div class="author-box">
                                        <div class="box-inner">
                                            <div class="author-image">
                                                <img src="https://themeim.com/demo/carsore/images/resource/author-2.jpg" alt="" />
                                            </div>
                                            Luiz Jenifer<br />
                                            <div class="designation">Client</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Testimonial Section -->
<!-- CTA Section -->
<section class="cta-section">
    <div class="auto-container">
        <div class="inner-container" style="background-image: url(~/images/background/pattern-5.png)">
            <div class="row clearfix">
                <!-- Title Column -->
                <div class="title-column col-lg-5 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <h3>Let us take care about your veicle</h3>
                    </div>
                </div>

                <!-- Form Column -->
                <div class="form-column col-lg-7 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="newsletter-form">
                            <form method="post" action="contact.html">
                                <div class="form-group">
                                    <span class="icon fa fa-envelope"></span>
                                    <input type="email" name="email" value="" placeholder="Enter your mail" required="" />
                                    <button type="submit" class="theme-btn flaticon-send"></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End CTA Section -->
