
<section class="main-slider">
    <div class="auto-container">
        <div class="main-slider-carousel owl-carousel owl-theme">
            <!-- Slide 01 -->
            <div class="slide" style="
                background-image: url('https://themeim.com/demo/carsore/images/background/home-2-header-bg.png');
              ">
                <div class="row clearfix">
                    <!-- Content Column -->
                    <div class="content-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <div class="title">
                                Reliable. Personable. Fast.
                            </div>
                            <h2>
                                Services
                            </h2>
                            <br />
                            <div class="text">
                                Only Carsore company gives you an investment with your Care insurance policy at <br> no extra cost.
                                Only Carsore company gives you an investment with<br>
                                your Care insurance policy at no extra cost.
                            </div>
                            <div class="btns-box clearfix">
                                <a class="btn-style-one theme-btn contact-us" href="contact.html">
                                    <span class="txt">
                                        Contact us
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                                            <circle data-name="Ellipse 236" cx="10" cy="10" r="10" fill="#f4f9fe" />
                                            <g data-name="Group 3845" transform="translate(7 5)">
                                                <g data-name="right-arrow(6)">
                                                    <g data-name="Group 662">
                                                        <path data-name="Path 1728"
                                                              d="M107.315,4.708,102.77.163a.56.56,0,0,0-.79,0L101.645.5a.559.559,0,0,0,0,.79L105.462,5.1l-3.821,3.821a.56.56,0,0,0,0,.79l.335.335a.56.56,0,0,0,.79,0L107.315,5.5a.564.564,0,0,0,0-.793Z"
                                                              transform="translate(-101.478 0)" fill="#4298ee" />
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </span>
                                </a>
                                <a class="btn-style-one theme-btn find-agent" href="contact.html">
                                    <span class="txt">
                                        Find An Agent
                                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19">
                                            <path id="Path_10543" data-name="Path 10543"
                                                  d="M9.5,0A9.5,9.5,0,1,0,19,9.5,9.5,9.5,0,0,0,9.5,0Zm4.889,15.1a7.43,7.43,0,0,1-9.777,0,.678.678,0,0,1-.217-.646A6.017,6.017,0,0,1,8.17,9.771,3.58,3.58,0,0,1,6.54,6.664,3.25,3.25,0,0,1,9.5,3.187a3.25,3.25,0,0,1,2.96,3.477,3.58,3.58,0,0,1-1.63,3.106,6.017,6.017,0,0,1,3.776,4.679A.678.678,0,0,1,14.389,15.1Z"
                                                  fill="#fff" />
                                        </svg>
                                    </span>
                                </a>
                            </div>
                            <div class="rating-container">
                                <div class="rating-icon-container">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15.035" height="14.366"
                                         viewBox="0 0 15.035 14.366">
                                        <path d="M15,12.774a.683.683,0,0,0-.552-.465l-4.366-.634L8.132,7.717a.683.683,0,0,0-1.226,0L4.953,11.674l-4.367.634a.684.684,0,0,0-.379,1.166l3.16,3.08L2.621,20.9a.684.684,0,0,0,.992.721L7.519,19.57l3.906,2.053a.692.692,0,0,0,.32.079.684.684,0,0,0,.665-.836l-.74-4.312,3.16-3.08A.683.683,0,0,0,15,12.774Z"
                                              transform="translate(-0.002 -7.336)" fill="#ffb300" />
                                    </svg>

                                    <svg xmlns="http://www.w3.org/2000/svg" width="15.035" height="14.366"
                                         viewBox="0 0 15.035 14.366">
                                        <path d="M15,12.774a.683.683,0,0,0-.552-.465l-4.366-.634L8.132,7.717a.683.683,0,0,0-1.226,0L4.953,11.674l-4.367.634a.684.684,0,0,0-.379,1.166l3.16,3.08L2.621,20.9a.684.684,0,0,0,.992.721L7.519,19.57l3.906,2.053a.692.692,0,0,0,.32.079.684.684,0,0,0,.665-.836l-.74-4.312,3.16-3.08A.683.683,0,0,0,15,12.774Z"
                                              transform="translate(-0.002 -7.336)" fill="#ffb300" />
                                    </svg>

                                    <svg xmlns="http://www.w3.org/2000/svg" width="15.035" height="14.366"
                                         viewBox="0 0 15.035 14.366">
                                        <path d="M15,12.774a.683.683,0,0,0-.552-.465l-4.366-.634L8.132,7.717a.683.683,0,0,0-1.226,0L4.953,11.674l-4.367.634a.684.684,0,0,0-.379,1.166l3.16,3.08L2.621,20.9a.684.684,0,0,0,.992.721L7.519,19.57l3.906,2.053a.692.692,0,0,0,.32.079.684.684,0,0,0,.665-.836l-.74-4.312,3.16-3.08A.683.683,0,0,0,15,12.774Z"
                                              transform="translate(-0.002 -7.336)" fill="#ffb300" />
                                    </svg>

                                    <svg xmlns="http://www.w3.org/2000/svg" width="15.035" height="14.366"
                                         viewBox="0 0 15.035 14.366">
                                        <path d="M15,12.774a.683.683,0,0,0-.552-.465l-4.366-.634L8.132,7.717a.683.683,0,0,0-1.226,0L4.953,11.674l-4.367.634a.684.684,0,0,0-.379,1.166l3.16,3.08L2.621,20.9a.684.684,0,0,0,.992.721L7.519,19.57l3.906,2.053a.692.692,0,0,0,.32.079.684.684,0,0,0,.665-.836l-.74-4.312,3.16-3.08A.683.683,0,0,0,15,12.774Z"
                                              transform="translate(-0.002 -7.336)" fill="#ffb300" />
                                    </svg>

                                    <svg xmlns="http://www.w3.org/2000/svg" width="15.035" height="14.366"
                                         viewBox="0 0 15.035 14.366">
                                        <path d="M15,12.774a.683.683,0,0,0-.552-.465l-4.366-.634L8.132,7.717a.683.683,0,0,0-1.226,0L4.953,11.674l-4.367.634a.684.684,0,0,0-.379,1.166l3.16,3.08L2.621,20.9a.684.684,0,0,0,.992.721L7.519,19.57l3.906,2.053a.692.692,0,0,0,.32.079.684.684,0,0,0,.665-.836l-.74-4.312,3.16-3.08A.683.683,0,0,0,15,12.774Z"
                                              transform="translate(-0.002 -7.336)" fill="#3D3D3D" />
                                    </svg>
                                </div>

                                <div class="rating-text-container">
                                    <p>Carsore rated <span>4.8/5</span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Image Column -->
                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                        <!-- <div
                            class="pattern-layer-five"
                            style="
                              background-image: url(https://themeim.com/demo/carsore/images/main-slider/pattern-5.png);
                            "
                          ></div> -->
                        <div class="inner-column">
                            <div class="image">
                                <div class="inner-container" style="width: 817px; height: 411px"></div>
                                <!-- <img
                                    src="https://themeim.com/demo/carsore/images/main-slider/content-image.png"
                                    alt=""
                                    width="817px"
                                    height="411px"
                                  /> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Slide 01 -->

        </div>
    </div>
</section>
<!-- End Main Slider Section -->
<!-- Services Section -->
<section class="services-section">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title centered">
            <h2>We ensure best insurance services</h2>
            <div class="text">
                We are a professional and creative company and we <br />
                offer you a trusty insurance on your veicle.
            </div>
        </div>
        <!-- End Sec Title -->
        <div class="inner-container">
            <div class="section-icons-outer parallax-scene-2">
                <div data-depth="0.20" class="icon-layer" style="background-image: url(~/images/icons/icon-1.png)"></div>
                <div data-depth="0.20" class="pattern-layer"
                     style="background-image: url(~/images/background/pattern-3.png)"></div>
                <div data-depth="0.20" class="pattern-layer-two style-two"
                     style="background-image: url(~/images/background/pattern-4.png)"></div>
            </div>
            <div class="row clearfix">
                <!-- Service Block -->
                <div class="service-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <a asp-controller="Home" asp-action="Policy"><img src="~/images/images (3).jpeg" alt="" /></a>
                        </div>
                        <div class="lower-content">
                            <h4><a asp-controller="Home" asp-action="Policy">Bike Insurance</a></h4>
                            <div class="text">
                                Lorem Ipsum is simply dummy text of sit dolor amlet….
                            </div>
                            <a asp-controller="Home" asp-action="Policy" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>

                <!-- Service Block -->
                <div class="service-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <a asp-controller="Home" asp-action="Policy"><img src="https://themeim.com/demo/carsore/images/resource/insurance.jpg" alt="" /></a>
                        </div>
                        <div class="lower-content">
                            <h4><a asp-controller="Home" asp-action="Policy">Car Insurance</a></h4>
                            <div class="text">
                                Lorem Ipsum is simply dummy text of sit dolor amlet….
                            </div>
                            <a asp-controller="Home" asp-action="Policy" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>

                <!-- Service Block -->
                <div class="service-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <a asp-controller="Home" asp-action="Policy"><img src="~/images/images (1).jpeg" alt="" /></a>
                        </div>
                        <div class="lower-content">
                            <h4>
                                <a asp-controller="Home" asp-action="Policy">Bus/truck Insurance</a>
                            </h4>
                            <div class="text">
                                Lorem Ipsum is simply dummy text of sit dolor amlet….
                            </div>
                            <a asp-controller="Home" asp-action="Policy" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Section -->
<!-- Experiance Section -->
<section class="experiance-section">
    <div class="auto-container">
        <!-- End Sec Title -->
        <div class="inner-container">
            <div class="section-icons-outer parallax-scene-3">
                <div data-depth="0.20" class="icon-layer" style="background-image: url(~/images/icons/icon-1.png)"></div>
                <div data-depth="0.20" class="pattern-layer"
                     style="background-image: url(~/images/background/pattern-3.png)"></div>
            </div>
            <div class="row clearfix">
                <!-- Image Column -->
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="image titlt" data-tilt data-tilt-max="2">
                            <img src="https://themeim.com/demo/carsore/images/resource/experiance.jpg" alt="" />
                            <span class="triangle-one"></span>
                            <span class="triangle-two"></span>
                        </div>

                        <!-- Fact Counter / Style Two -->
                        <div class="fact-counter style-two">
                            <div class="row clearfix">
                                <!-- Column -->
                                <div class="
                            column
                            counter-column
                            col-lg-6 col-md-6 col-sm-12
                          ">
                                    <div class="inner">
                                        <div class="content">
                                            <div class="count-outer count-box">
                                                <span class="count-text" data-speed="3000" data-stop="10">0</span>K+
                                            </div>
                                            <div class="counter-title">Happy Custormer</div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Column -->
                                <div class="
                            column
                            counter-column
                            col-lg-6 col-md-6 col-sm-12
                          ">
                                    <div class="inner">
                                        <div class="content">
                                            <div class="count-outer count-box">
                                                <span class="count-text" data-speed="4000" data-stop="4.9">0</span>+
                                            </div>
                                            <div class="rating">
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                &nbsp; (2,894)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Content Column -->
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="sec-title light">
                            <h2>More than 10 years Experience</h2>
                            <div class="text">
                                We are a professional and creative company and we offer
                                you a trusty insurance on your veicle.
                            </div>
                        </div>
                        <div class="list-outer">
                            <ul class="experiance-list">
                                <li>
                                    <span class="icon flaticon-horse"></span>
                                    <strong>Strategy</strong>
                                    Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem
                                </li>
                                <li>
                                    <span class="icon flaticon-shopping-cart-4"></span>
                                    <strong>Market value</strong>
                                    Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem
                                </li>
                                <li>
                                    <span class="icon flaticon-megaphone-1"></span>
                                    <strong>Marketing</strong>
                                    Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem
                                </li>
                                <li>
                                    <span class="icon flaticon-relations"></span>
                                    <strong>Relations</strong>
                                    Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Experiance Section -->
<!-- Skill Section -->
<section class="skill-section">
    <div class="auto-container">
        <div class="inner-container">
            <div class="section-icons-outer parallax-scene-4">
                <div data-depth="0.30" class="pattern-layer"
                     style="background-image: url(~/images/background/pattern-4.png)"></div>
            </div>
            <div class="row clearfix">
                <!-- Skill Column -->
                <div class="skill-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="parallax-scene-5">
                            <div data-depth="0.80" class="icon-layer" style="background-image: url(~/images/icons/icon-1.png)">
                            </div>
                        </div>
                        <!-- Sec Title -->
                        <div class="sec-title">
                            <h2>
                                The operational <br />
                                processes of Carsore
                            </h2>
                            <div class="text">
                                We are a professional and creative company and we offer
                                you a trusty insurance on your veicle.
                            </div>
                        </div>

                        <!-- Skills -->
                        <div class="skills">
                            <!-- Skill Item -->
                            <div class="skill-item">
                                <div class="skill-header clearfix">
                                    <div class="skill-title">Strategy Consulting</div>
                                    <div class="skill-percentage">
                                        <div class="count-box">
                                            <span class="count-text" data-speed="2000" data-stop="90">0</span>%
                                        </div>
                                    </div>
                                </div>
                                <div class="skill-bar">
                                    <div class="bar-inner">
                                        <div class="bar progress-line" data-width="90"></div>
                                    </div>
                                </div>
                            </div>

                            <!-- Skill Item -->
                            <div class="skill-item">
                                <div class="skill-header clearfix">
                                    <div class="skill-title">Market value</div>
                                    <div class="skill-percentage">
                                        <div class="count-box">
                                            <span class="count-text" data-speed="2000" data-stop="80">0</span>%
                                        </div>
                                    </div>
                                </div>
                                <div class="skill-bar">
                                    <div class="bar-inner">
                                        <div class="bar progress-line" data-width="80"></div>
                                    </div>
                                </div>
                            </div>

                            <!-- Skill Item -->
                            <div class="skill-item">
                                <div class="skill-header clearfix">
                                    <div class="skill-title">Marketing</div>
                                    <div class="skill-percentage">
                                        <div class="count-box">
                                            <span class="count-text" data-speed="2000" data-stop="70">0</span>%
                                        </div>
                                    </div>
                                </div>
                                <div class="skill-bar">
                                    <div class="bar-inner">
                                        <div class="bar progress-line" data-width="70"></div>
                                    </div>
                                </div>
                            </div>

                            <!-- Skill Item -->
                            <div class="skill-item">
                                <div class="skill-header clearfix">
                                    <div class="skill-title">Relations</div>
                                    <div class="skill-percentage">
                                        <div class="count-box">
                                            <span class="count-text" data-speed="2000" data-stop="60">0</span>%
                                        </div>
                                    </div>
                                </div>
                                <div class="skill-bar">
                                    <div class="bar-inner">
                                        <div class="bar progress-line" data-width="60"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Image Column -->
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="image">
                            <div class="triangle-one"></div>
                            <div class="triangle-two"></div>
                            <img src="https://themeim.com/demo/carsore/images/gallery/home-2-about-us-3.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Skill Section -->
<!-- Choose Section -->
<section class="choose-section">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title light centered">
            <div class="title">why us</div>
            <h2>Why Chose Us</h2>
        </div>
        <!-- End Sec Title -->
        <div class="inner-container">
            <div class="section-icons-outer parallax-scene-6">
                <div data-depth="0.20" class="icon-layer" style="background-image: url(~/images/icons/icon-1.png)"></div>
                <div data-depth="0.20" class="pattern-layer"
                     style="background-image: url(~/images/background/pattern-3.png)"></div>
                <div data-depth="0.20" class="pattern-layer-two"
                     style="background-image: url(~/images/background/pattern-4.png)"></div>
            </div>
            <div class="row clearfix">
                <!-- Image Column -->
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="image titlt" data-tilt data-tilt-max="2">
                            <img src="~/images/istockphoto-1264403893-612x612.jpg" alt="" />
                            <span class="triangle-one"></span>
                            <span class="triangle-two"></span>
                            <!-- Fact Counter -->
                            <div class="fact-counter">
                                <div class="row clearfix">
                                    <!-- Column -->
                                    <div class="
                              column
                              counter-column
                              col-lg-4 col-md-4 col-sm-4
                            ">
                                        <div class="inner">
                                            <div class="content">
                                                <div class="count-outer count-box">
                                                    <span class="count-text" data-speed="3000" data-stop="100">0</span>%
                                                </div>
                                                <div class="counter-title">
                                                    Customer <br />
                                                    satisfaction
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Column-->
                                    <div class="
                              column
                              counter-column
                              col-lg-4 col-md-4 col-sm-4
                            ">
                                        <div class="inner">
                                            <div class="content">
                                                <div class="count-outer count-box">
                                                    <span class="count-text" data-speed="4000" data-stop="200">0</span>+
                                                </div>
                                                <div class="counter-title">
                                                    Monthly active <br />
                                                    users
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Column-->
                                    <div class="
                              column
                              counter-column
                              col-lg-4 col-md-4 col-sm-4
                            ">
                                        <div class="inner">
                                            <div class="content">
                                                <div class="count-outer count-box">
                                                    <span class="count-text" data-speed="3000" data-stop="100">0</span>+
                                                </div>
                                                <div class="counter-title">
                                                    New Customer <br />
                                                    per week
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Content Column -->
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="text">
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the simply
                            dummy text of industry's standard dummy, lorem ipsum
                            dolor.
                        </div>
                        <div class="list-outer">
                            <ul class="choose-list">
                                <li>
                                    <span class="number">1</span>
                                    <strong>Compare personalized quotes</strong>
                                    Answer a couple of questions, we'll provide accurate
                                    live
                                </li>
                                <li>
                                    <span class="number">2</span>
                                    <strong>Get all discounts in one place</strong>
                                    Answer a couple of questions, we'll provide accurate
                                    live
                                </li>
                                <li>
                                    <span class="number">3</span>
                                    <strong>Buy online or on the phone</strong>
                                    Answer a couple of questions, we'll provide accurate
                                    live
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Choose Section -->
<!-- Pricing Section -->
<section class="pricing-section">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title centered">
            <h2>
                Chose a Best Plan for your <br />
                vehicle
            </h2>
            <div class="text">
                We are a professional and creative company and we offer <br />
                you a trusty insurance on your veicle.
            </div>
        </div>
        <!-- End Sec Title -->
        <div class="inner-container">
            <div class="section-icons-outer parallax-scene-7">
                <div data-depth="0.20" class="icon-layer" style="background-image: url(~/images/icons/icon-1.png)"></div>
                <div data-depth="0.40" class="pattern-layer"
                     style="background-image: url(~/images/background/pattern-4.png)"></div>
            </div>
            <div class="row clearfix">
                <!-- Price Block -->
                <div class="price-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="upper-box" style="background-image: url(~/images/resource/price.png)">
                            <h4>Basic</h4>
                        </div>
                        <div class="price">$50<span>/ Years</span></div>
                        <ul class="team-info-list">
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111"
                                     viewBox="0 0 16.111 16.111">
                                    <path data-name="Path 8769"
                                          d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                                          transform="translate(-438.666 -194.559)" fill="#4298ee" />
                                    <path data-name="Path 8770"
                                          d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                                          transform="translate(-503.037 -273.874)" fill="#4298ee" />
                                </svg>
                                Damage third-party vehicle
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111"
                                     viewBox="0 0 16.111 16.111">
                                    <path data-name="Path 8769"
                                          d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                                          transform="translate(-438.666 -194.559)" fill="#4298ee" />
                                    <path data-name="Path 8770"
                                          d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                                          transform="translate(-503.037 -273.874)" fill="#4298ee" />
                                </svg>
                                Own Damage by own fault
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111"
                                     viewBox="0 0 16.111 16.111">
                                    <path data-name="Path 8769"
                                          d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                                          transform="translate(-438.666 -194.559)" fill="#4298ee" />
                                    <path data-name="Path 8770"
                                          d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                                          transform="translate(-503.037 -273.874)" fill="#4298ee" />
                                </svg>
                                Damage due to fire
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111"
                                     viewBox="0 0 16.111 16.111">
                                    <path data-name="Path 8769"
                                          d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                                          transform="translate(-438.666 -194.559)" fill="#4298ee" />
                                    <path data-name="Path 8770"
                                          d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                                          transform="translate(-503.037 -273.874)" fill="#4298ee" />
                                </svg>
                                Damage third-party vehicle
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111"
                                     viewBox="0 0 16.111 16.111">
                                    <path data-name="Path 8769"
                                          d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                                          transform="translate(-438.666 -194.559)" fill="#4298ee" />
                                    <path data-name="Path 8770"
                                          d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                                          transform="translate(-503.037 -273.874)" fill="#4298ee" />
                                </svg>
                                Damage third-party vehicle
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111"
                                     viewBox="0 0 16.111 16.111">
                                    <path data-name="Path 8769"
                                          d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                                          transform="translate(-438.666 -194.559)" fill="#4298ee" />
                                    <path data-name="Path 8770"
                                          d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                                          transform="translate(-503.037 -273.874)" fill="#4298ee" />
                                </svg>
                                Damage third-party vehicle
                            </li>
                        </ul>
                        <div class="buton-box text-center">
                            <a class="btn-style-one theme-btn" href="contact.html">
                                <span class="txt">
                                    choose plan
                                    <i class="fas fa-chevron-circle-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Price Block -->
                <div class="price-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="upper-box" style="background-image: url(~/images/resource/price.png)">
                            <h4>standard</h4>
                        </div>
                        <div class="price">$70<span>/ Years</span></div>
                        <ul class="team-info-list">
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111"
                                     viewBox="0 0 16.111 16.111">
                                    <path data-name="Path 8769"
                                          d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                                          transform="translate(-438.666 -194.559)" fill="#4298ee" />
                                    <path data-name="Path 8770"
                                          d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                                          transform="translate(-503.037 -273.874)" fill="#4298ee" />
                                </svg>
                                Damage third-party vehicle
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111"
                                     viewBox="0 0 16.111 16.111">
                                    <path data-name="Path 8769"
                                          d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                                          transform="translate(-438.666 -194.559)" fill="#4298ee" />
                                    <path data-name="Path 8770"
                                          d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                                          transform="translate(-503.037 -273.874)" fill="#4298ee" />
                                </svg>
                                Own Damage by own fault
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111"
                                     viewBox="0 0 16.111 16.111">
                                    <path data-name="Path 8769"
                                          d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                                          transform="translate(-438.666 -194.559)" fill="#4298ee" />
                                    <path data-name="Path 8770"
                                          d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                                          transform="translate(-503.037 -273.874)" fill="#4298ee" />
                                </svg>
                                Damage due to fire
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111"
                                     viewBox="0 0 16.111 16.111">
                                    <path data-name="Path 8769"
                                          d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                                          transform="translate(-438.666 -194.559)" fill="#4298ee" />
                                    <path data-name="Path 8770"
                                          d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                                          transform="translate(-503.037 -273.874)" fill="#4298ee" />
                                </svg>
                                Damage third-party vehicle
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111"
                                     viewBox="0 0 16.111 16.111">
                                    <path data-name="Path 8769"
                                          d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                                          transform="translate(-438.666 -194.559)" fill="#4298ee" />
                                    <path data-name="Path 8770"
                                          d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                                          transform="translate(-503.037 -273.874)" fill="#4298ee" />
                                </svg>
                                Damage third-party vehicle
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111"
                                     viewBox="0 0 16.111 16.111">
                                    <path data-name="Path 8769"
                                          d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                                          transform="translate(-438.666 -194.559)" fill="#4298ee" />
                                    <path data-name="Path 8770"
                                          d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                                          transform="translate(-503.037 -273.874)" fill="#4298ee" />
                                </svg>
                                Damage third-party vehicle
                            </li>
                        </ul>
                        <div class="buton-box text-center">
                            <a class="btn-style-one theme-btn" href="contact.html">
                                <span class="txt">
                                    choose plan
                                    <i class="fas fa-chevron-circle-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Price Block -->
                <div class="price-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="upper-box" style="background-image: url(~/images/resource/price.png)">
                            <h4>premium</h4>
                        </div>
                        <div class="price">$90<span>/ Years</span></div>
                        <ul class="team-info-list">
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111"
                                     viewBox="0 0 16.111 16.111">
                                    <path data-name="Path 8769"
                                          d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                                          transform="translate(-438.666 -194.559)" fill="#4298ee" />
                                    <path data-name="Path 8770"
                                          d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                                          transform="translate(-503.037 -273.874)" fill="#4298ee" />
                                </svg>
                                Damage third-party vehicle
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111"
                                     viewBox="0 0 16.111 16.111">
                                    <path data-name="Path 8769"
                                          d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                                          transform="translate(-438.666 -194.559)" fill="#4298ee" />
                                    <path data-name="Path 8770"
                                          d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                                          transform="translate(-503.037 -273.874)" fill="#4298ee" />
                                </svg>
                                Own Damage by own fault
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111"
                                     viewBox="0 0 16.111 16.111">
                                    <path data-name="Path 8769"
                                          d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                                          transform="translate(-438.666 -194.559)" fill="#4298ee" />
                                    <path data-name="Path 8770"
                                          d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                                          transform="translate(-503.037 -273.874)" fill="#4298ee" />
                                </svg>
                                Damage due to fire
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111"
                                     viewBox="0 0 16.111 16.111">
                                    <path data-name="Path 8769"
                                          d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                                          transform="translate(-438.666 -194.559)" fill="#4298ee" />
                                    <path data-name="Path 8770"
                                          d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                                          transform="translate(-503.037 -273.874)" fill="#4298ee" />
                                </svg>
                                Damage third-party vehicle
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111"
                                     viewBox="0 0 16.111 16.111">
                                    <path data-name="Path 8769"
                                          d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                                          transform="translate(-438.666 -194.559)" fill="#4298ee" />
                                    <path data-name="Path 8770"
                                          d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                                          transform="translate(-503.037 -273.874)" fill="#4298ee" />
                                </svg>
                                Damage third-party vehicle
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111"
                                     viewBox="0 0 16.111 16.111">
                                    <path data-name="Path 8769"
                                          d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                                          transform="translate(-438.666 -194.559)" fill="#4298ee" />
                                    <path data-name="Path 8770"
                                          d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                                          transform="translate(-503.037 -273.874)" fill="#4298ee" />
                                </svg>
                                Damage third-party vehicle
                            </li>
                        </ul>
                        <div class="buton-box text-center">
                            <a class="btn-style-one theme-btn" href="contact.html">
                                <span class="txt">
                                    choose plan
                                    <i class="fas fa-chevron-circle-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Pricing Section -->
<!-- CTA Section -->
<section class="cta-section">
    <div class="auto-container">
        <div class="inner-container" style="background-image: url(~/images/background/pattern-5.png)">
            <div class="row clearfix">
                <!-- Title Column -->
                <div class="title-column col-lg-5 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <h3>Let us take care about your veicle</h3>
                    </div>
                </div>

                <!-- Form Column -->
                <div class="form-column col-lg-7 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="newsletter-form">
                            <form method="post" action="contact.html">
                                <div class="form-group">
                                    <span class="icon fa fa-envelope"></span>
                                    <input type="email" name="email" value="" placeholder="Enter your mail" required="" />
                                    <button type="submit" class="theme-btn flaticon-send"></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End CTA Section -->